#main {
    width: 80%;
}

#main-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#main-center div {
    align-items: center;
    width: 50%;
    height: 100%;
}