:root {
    /*-- GENERAL --*/
    --white-color: #FFFFFF;
    --black-color: #000000;
    --blue-color: #113D78;

    /*-- COLOR PALETTE --*/
    --darkpurple-color: #3D0066;
    --purple-color: #C670FF;
    --lightpurple-color: #EEC7FC;
    --yellow-color: #FFCE1F;
    --lightyellow-color: #FFE047;

    /*-- GRAY PALETTE --*/
    --lightgray-color: #CACACA;
}