
    <nav>
        <div class="navIcon">
            <img src="/assets/img/icon/iconMyOw-64.png" alt="">
        </div>
        <div class="navTitle">
            <a href="index.html">MyOwme</a>
        </div>
        <div class="navMenu">
            <a href="index.html">Accueil</a>
            <a href="teams.html">L'équipe</a>
        </div>
        <div class="navBurgerMenu">
            <div class="bar1"></div>    
            <div class="bar2"></div>    
            <div class="bar3"></div>    
        </div>
    </nav>