html,
body {
    background-color: $secondaryColor;
    padding: 0;
    margin: 0;
    font-family: $titleFont;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

h1 {
    color: white;
}