<ul style="margin-bottom: 0;">
    <div class="titlecontainer">
        <h1 class="toptitle">
            <span>
                Grossiste alimentaire
            </span>
            <br class="visible-xs">
            pour la restauration en produits frais et produits surgelés
        </h1>
    </div>
</ul>

<ul class="menu">
    <li><a style="text-decoration: none;" class="active" href="{{ url_for('image.importImg') }}">Importer images</a></li>
    <li><a style="text-decoration: none; color:white" href="{{ url_for('image.findImg') }}">Rechercher images</a></li>
    <li><a style="text-decoration: none; color:white" href="{{ url_for('image.addTag') }}">Ajouter un tag</a></li>
    <li><a style="text-decoration: none; color:white" target="_blank" href="https://www.passionfroid.fr/">PassionFroid</a></li>
    <img src="https://www.passionfroid.fr/themes/custom/passionfroid_theme/logo.png" class="logo-picture">
</ul>