
/* ---------------------------------------------------------------
--------------------Footer Style----------------------------------
------------------------------------------------------------------ 
*/

/* footer {
    margin:0;
    position: absolute;
    width: 100vw;
    height: 10vh;
    background-color: #232323;
    color: rgb(233, 229, 250);
} */